{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block html_title %}
    Outcome Type: {{ catname }}
{% endblock %}

{% block content %}
    <h1>Outcome Type: {{ catname }}</h1>

    <table class='table'>
        <thead>
            <tr>
                <th>Experiment ID</th>
                <th>Collision ID</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for o in outcomes %}
                <tr>
                    <td>{{ o.experiment_id }}</td>
                    <td>{{ o.collision_id }}</td>
                    <td><a href="{{ o.get_absolute_url }}">Show...</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
