{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block html_title %}
    Gap Type: {{ catname }}
{% endblock %}

{% block content %}
    <h1>Worm Gap Type: {{ catname }}</h1>

    <table class='table'>
        <thead><tr><th>Experiment ID</th><th>Lost Blob</th><th>Found Blob</th><th>Image</th></tr></thead>
        <tbody>
            {% for g in gaps %}
                <tr>
                    <td>{{ g.experiment_id }}</td>
                    <td>{{ g.from_blob }}</td>
                    <td>{{ g.to_blob }}</td>
                    <td><a href="{% url 'gaps:gap' eid=g.experiment_id from_blob=g.from_blob to_blob=g.to_blob %}">Show...</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
